<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- dataSource -->
    <!--<bean id="dataSource"-->
          <!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="com.mysql.jdbc.Driver" />-->
        <!--<property name="url" value="jdbc:mysql://127.0.0.1:3306/actPlus" />-->
        <!--<property name="username" value="root" />-->
        <!--<property name="password" value="password" />-->
    <!--</bean>-->


    <!-- 数据库保存的密码是使用MD5算法加密的，所以这里需要配置一个密码匹配对象 -->
    <!--<bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">-->
        <!--&lt;!&ndash;加密算法&ndash;&gt;-->
        <!--<property name="hashAlgorithmName" value="md5"/>-->
        <!--&lt;!&ndash;加密次数&ndash;&gt;-->
        <!--<property name="hashIterations" value="1"/>-->
    <!--</bean>-->

    <!--缓存管理 -->
    <!--<bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"></bean>-->

    <!-- Realm实现 -->
    <!--<bean id="userRealm" class="actPlus.web.realm.UserRealm">-->
        <!--<property name="credentialsMatcher" ref="credentialsMatcher"/>-->
    <!--</bean>-->
    <!--
      使用Shiro自带的JdbcRealm类
      指定密码匹配所需要用到的加密对象
      指定存储用户、角色、权限许可的数据源及相关查询语句
     -->
    <!--<bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">-->
        <!--<property name="permissionsLookupEnabled" value="true"></property>-->
        <!--<property name="dataSource" ref="dataSource"></property>-->
        <!--<property name="authenticationQuery"-->
                  <!--value="SELECT password FROM User WHERE username = ?"></property>-->
        <!--<property name="userRolesQuery"-->
                  <!--value="SELECT role FROM User_Role LEFT JOIN Role USING(roleId) LEFT JOIN User USING(username) WHERE username = ?"></property>-->
        <!--<property name="permissionsQuery"-->
                  <!--value="SELECT permissionName FROM Role_Permission RP LEFT JOIN Permission P ON RP.permissionId = P.id LEFT JOIN Role R ON RP.roleId = R.roleId WHERE role = ?"></property>-->
    <!--</bean>-->


    <!-- 会话Cookie模板 -->
    <!--<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">-->
        <!--<constructor-arg value="sid"/>-->
        <!--<property name="httpOnly" value="true"/>-->
        <!--<property name="maxAge" value="180000"/>-->
    <!--</bean>-->

    <!-- Shiro安全管理器 -->
    <!--<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">-->
        <!--&lt;!&ndash;自定义的realm&ndash;&gt;-->
        <!--<property name="realm" ref="userRealm"/>-->
        <!--&lt;!&ndash;默认的realm&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="realm" ref="jdbcRealm"></property>&ndash;&gt;-->
        <!--<property name="cacheManager" ref="cacheManager"></property>-->
    <!--</bean>-->


    <!-- Shiro生命周期处理器-->
    <!--<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>-->


    <!--
    Shiro主过滤器
 -->
    <!--<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">-->
        <!--&lt;!&ndash; Shiro的核心安全接口，这个属性是必须的 &ndash;&gt;-->
        <!--<property name="securityManager" ref="securityManager"></property>-->
        <!--&lt;!&ndash; 要求登录时的链接(登录页面地址)，非必须的属性，默认会自动寻找Web工程根目录下的""页面 &ndash;&gt;-->
        <!--<property name="loginUrl" value="/login"></property>-->
        <!--&lt;!&ndash; 用户访问未对其授权的资源时，所显示的连接 &ndash;&gt;-->
        <!--<property name="unauthorizedUrl" value="/index"></property>-->

        <!--<property name="successUrl" value="/"/>-->
        <!--<property name="filterChainDefinitions">-->
            <!--<value>-->
                <!--/publish = authc-->
                <!--/admin** = authc-->
                <!--/wxCollection = authc-->
                <!--/manage** = authc-->
                <!--/my** = authc-->
                <!--/audit = authc-->
                <!--/enroll = authc-->
                <!--/group_edit = authc-->
                <!--/group_success = authc-->
                <!--/personal_center** = authc-->
            <!--</value>-->
        <!--</property>-->
    <!--</bean>-->

</beans>

