body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    background-color: #F0F0F2;
    padding: 0px;
}

a {
    text-decoration: none !important;
}

.icon {
    width: 120px;
    height: 120px;
    margin-bottom: 17px;
}

/*-------模态框---------*/
.modal-dialog {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    width: 340px;
    height: 302px;
    transform: translateX(-53%) translateY(-50%) !important;
}

.modal {
    top: 20px !important;  /*让其垂直居中*/
}

.form-group .glyphicon {
    font-size: 19px;
    color: #5074D7;
    padding: 0 15px 0 12px;
}

.form-group {
    line-height: 0;
}

.form-group input {
    padding: 0 15px 0 15px;
    border-top: 0.8px solid #BBBBBB;
    height: 44px;
    background-color: white;
}

.necessary {
    color: #EB5D48;
}

.showTips {
    float: right;
    display: none;
}

.material-icons {
    color: #F43530;
    width: 24px;
}

.warningTips {
    vertical-align: top;
    padding: 0 12px 0 2px;
}

.wrapper {
    padding-top: 40px;
    text-align: center;
}

.signin-btn {
    margin-top: 50px;
    background-color: #5074D7 !important;
    color: white !important;
    font-size: 16px !important;
}

.another-signin {
    color: #828282 !important;
    display: inline-block;
    float: right;
    padding-right: 15px;
    margin: 5px;
}

.quick-register {
    color: #828282 !important;
    display: inline-block;
    float: left;
    padding-left: 15px;
    margin: 5px;
}

.register-button {
    margin-top: 25px;
    color: #5074D7;
    background-color: #F0F0F2;
    border: 1.5px solid #5074D7;
    padding: 14px 23px;
}