body {
    font-family: "Microsoft YaHei", 微软雅黑, "MicrosoftJhengHei", 华文细黑, STHeiti, MingLiu;
    background-color: #F0F0F2;
    text-align: center;
    padding: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

a {
    text-decoration: none !important;
}

.success {
    margin-top: 30%;
    margin-bottom: 3%;
    width: 150px;
    height: 150px;
    color: #5064D7;
    vertical-align: middle;
}

.btn {
    margin-top: 50px;
    background-color: #5074D7 !important;
    color: white !important;
    font-size: 16px !important;
    padding: 0.75rem 1.5rem;
    border-radius: 0.3rem;
    width: 100%;
    border-color: #ccc;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.1;
}

p {
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}